@import "../../../styles.scss";

.navbar a {
  cursor: pointer;
  &.active {
    border-bottom: 2px solid $purple;
    color: $purple;
    padding-bottom: 7px;
  }
}

.username {
  text-transform: capitalize;
  margin-right: 6px;
}

.user-img {
  height: 30px;
  border-radius: 50%;
}
