$purple: #972647;
$yellow: #ff9800;
$black: #212529;
$orange: #e3432a;
$blue: #a5aecb;
$light-pink: #fff8ef;
$light-purple: #fef4f3;
$light-blue: #f7f8fc;
$input-bg: #e7e7e7;
$text-bubble: #e7e7e7;
$white: #ffffff;

tr {
  vertical-align: middle;
}

.form-control {
  border-radius: 25px;
  border: none;
  background-color: $input-bg;
  padding-left: 15px;
  line-height: 2.375rem;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
}

.form-control:focus {
  box-shadow: 0 0 0 1px #e3432a;
}

.custom-btn {
  background: white;
  font-size: 16px;
  color: $orange;
  border-radius: 5px;
  text-align: center;
  padding: 6px 30px;
  outline: 0;
  box-shadow: none;
  border: 1px solid $orange;
  font-weight: 500;
  min-height: 38px;

  &:hover {
      background: $orange;
      color: white;
  }
}

.custom-btn-purple {
  background: white;
  font-size: 16px;
  color: $purple;
  border-radius: 5px;
  text-align: center;
  padding: 6px 30px;
  outline: 0;
  box-shadow: none;
  border: 1px solid $purple;
  font-weight: 500;
  min-height: 38px;

  &:hover {
      background: $purple;
      color: white;
  }
}

.card {
  border: none !important;
}

a {
  text-decoration: none !important;
  font-weight: 700 !important;
  color: $purple !important;
  &:hover {
    color: $purple;
  }
}

.dropdown-menu a {
  cursor: pointer;
}

.ngx-pagination {
  font-weight: 700;
}

.ngx-pagination .current {
  color: white !important;
  background-color: rgb(237, 43, 0) !important;
}

.ngx-pagination a {
  color: black !important;
  background-color: white !important;
  text-decoration: none !important;

  &:hover {
    color: rgb(237, 43, 0) !important;
  }
}

.ngx-pagination button {
  display: none !important;
}

.mat-tab-header-pagination {
  display: none !important;
}

.text-danger {
  font-size: 13px;
  margin-top: 5px;
}

label {
  margin-bottom: 6px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: whitesmoke;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: LightGray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: Silver;
}
